# Python
*.py[cod]
*.log
*.sqlite3
__pycache__/
*.pyc

# Virtual Environments
.venv/
.env
.env/

# Django
db.sqlite3
/static/
media/

# Node.js
node_modules/
.next/
.env.local

# IDEs & Editors
.vscode/

# OS generated
.DS_Store
Thumbs.db
