Django==4.2.7
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.1
python-decouple==3.8
python-dotenv==1.1.1
whitenoise==6.9.0
gunicorn==23.0.0
mongoengine==0.29.1
pymongo>=4.6.0
razorpay==2.0.0
dnspython==2.6.1
google-api-python-client==2.179.0
google-auth-oauthlib==1.2.2
google-generativeai==0.8.5
youtube-transcript-api==0.6.2
requests==2.32.4
yt-dlp>=2024.12.23
youtube-comment-downloader>=0.1.78
numpy
bcrypt==4.1.2
setuptools
